<div class="logo">
    <a href="index.html">
        <img src="assets/cnn_logo.png" alt="CNN Brasil Logo">
    </a>
</div>
<nav>
    <ul>
        <li><a href="#">Ao vivo</a></li>
        <li><a href="#">Política</a></li>
        <li><a href="#">Economia</a></li>
        <li><a href="#">Esportes</a></li>
        <li><a href="#">Pop</a></li>
        <li><a href="#">Viagem & Gastronomia</a></li>
    </ul>
</nav>
<nav>
    <ul>
        <li><a href="formulario.html">Contato</a></li>
    </ul>
</nav>
